body, html{
  /* #D0F0C0  #ADFF6F */
  background-color:#F3FEEB  !important;
}

.fonts_Russo_One{
  font-family: "Russo One", sans-serif;
  font-style: normal;
}

.custom{
  display:flex;
  min-height: 100vh;
  height: auto;
}



html{
  background:  white; <!--antiquewhite;--!>
}

.center_text_in_div{
  height: auto;
  width: 100%;
  display: flex; /* Flexbox для центрирования */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

.block_button_header{
  width: 100%;
  height: 50px;
  background-color: greenyellow;
  padding: 5px;


}

.input_personal_account_button{
  width: 150px;
  height: 100%;
  background-color: #7d32cd;
  width: 50%;
  height: 30px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

.block_for_authorized_user_mini_prof_in_header{
  height: 44px;
  width: 150px;
  background-color: #4720a2;
  border-radius: 5px;
  border-width: 2px;
  padding: 3px;
  margin: 3px;
  font-size: 10px;
  color: antiquewhite;
}

.center_text_for_div {

    justify-content: center;
    align-items: center;
    text-align: center; /* Центрирует текст по горизонтали внутри flex элемента */
}


.block_training{
  width: 600px;
  height: 150px;
  background: #d4c7b6;
  margin-bottom: 50px;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: #8c8377;
  padding: 10px;
}




.block_for_training_programm{
  width: flex;
  height: flex;
  background-color:#e5c08f;
  padding: 10px;
}







*{
    margin: 0px;
    padding: 0px;
}



#mid_block{
    margin: 0;
    padding: 0;
    background: #7b9f20;
    width: 100%;
    height: 40px;
    float: left;
    position: absolute;
    top:15px;

}
.Text_for_header{
  line-height: 0.6;
  margin: 0;
  padding: 0;
  text-align: left;
  justify-content: left;
  color: antiquewhite;
  font-size: 45px;
  font-weight: 1000;
  -webkit-text-stroke: 0px #7b9f20;
  position: absolute;
  top:15px

}

#text2{
    margin: 0;
    padding: 0;
    text-align: right;
    justify-content: right;
    color: faebd7;
    font-size: 50px;
    font-weight: 1000;
    -webkit-text-stroke: 0px #7b9f20;
    position: absolute;
    top:46px;
    float: right;
    right: 80px;

}
#textForName{
  position: relative;
  text-align: center;
  float: left;

}
.block_for_text{
   display: flex;
   justify-content: center;
   align-items: center;
   width:  fit-content;
   height: fit-content;
   padding: 10px;
   background: #ADFF2F;
   text-align: center;
   border-radius: 10px;
   border-color: #67991C;
   border-width: 3px;
   border-style: solid;
}
.container{
  padding: 5px;

}

.backgroundvideo {
  object-fit: fill;
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
}
#icon1{
  display: block;
  position: relative;
  width: 200px;
  text-align: center;
  height: 200px;
  float: top;
  top: -50px;
  left:50px;
}
#header{
    margin: 0;
    padding: 0;

    background:#7b9f20;
    width: 100%;
    height: 70px;

    position: relative;
    /*float: top;*/

    /*align-items: left;
    display: flex;
    */
}
.bottom_of_header{
  background-color: greenyellow;
  height: auto;
  min-height: 30px;
  width: 100%;
}

.main{
    width: 100%;
    height: auto;
    min-height: 800px;
    background: #faebd7;
    padding: 10px;
    border-radius:20px;
    border-style: solid;
    border-color: #e5c08f;
    border-width: 2px ; /* Толщина границы */
    padding: 25px 25px !important;
    box-sizing: border-box;

}

.background-block{
  background: #fff;
  position: relative;
  width: calc(100% + 15px);
  height: 100%;
  border-radius: 20px;
  left:-20px;
  top:-10px;
  padding: 15px;
}

.padd-0{
  padding: 0 !important;
}
.bg-green{
  background: #7b9f20;
}
.block_for_aside{
  float: left;
  position: relative;
  margin: 0 1.5%;
}

.block_for_right_aside{
  float: right;
  position: relative;
  margin: 10px;
}
.row.block_right_place_for_button{

  height:auto;
  width:80%;
  background: #faebd7;
  position:sticky;
  top: 350px;
  padding:10px;
  border-style: solid;
  border-color: #e5c08f;
  border-width: 2px ; /* Толщина границы */
  margin-left:10px;
}


.img_center_on_main{
  display: grid;
  place-items: center; /* Центрирует по горизонтали и вертикали */
}

.img_border{
  border-radius:20px;
  border: 2px solid #e5c08f;
}


.block_for_personal_view{
  background-color: #faebd7;
  width: 800px;
  height: 250px;


  border-radius:20px;
  border: 2px solid #e5c08f;


}





.adaptive_margin_bottom{
  margin-bottom: 15px;
}















}
#aside{
    margin: 0;
    padding: 0;
    background: #7b9f20;
    width: 10%;
    height: 1000px;
    float: left;
}

#nav{
    list-style: none;
    display: block;
    float: center;
    width: 50%;
    margin-right: -35px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 8px;
}

#nav li{


    background: #00A63E;
    border: 1px solid silver;
    padding: 0 20px;
    cursor: pointer;
    width: 100px;
    height: 35px;


    display: flex;
    justify-content: center;
    align-items: center;
}

#nav li:not(:last-of-type){
    margin-bottom:20px;
}

#mid_text{
  text-align: center;
}


#image_for_searching{
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
  text-align: center;
  float: left;
  top: 25px;
  left: 25px;
}




/* Стили для формы */
 .form-container {
   font-family: "Russo One", sans-serif;
     font-family: 'Arial', sans-serif;
     background-color: antiquewhite; /* Бежевый фон */
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
 }
 .form {
   font-family: "Russo One", sans-serif;
     max-width: 600px;
     width: 100%;
     background-color: #4CAF50; /* Зеленый цвет */
     padding: 40px;
     border-radius: 10px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
     color: #fff;
     text-align: center;
 }
 .form h2 {
   font-family: "Russo One", sans-serif;
     font-size: 36px;
     margin-bottom: 30px;
     text-transform: uppercase;
 }
 .form-group {
   font-family: "Russo One", sans-serif;
     margin-bottom: 20px;
     text-align: left;
 }
 .form-group label {
   font-family: "Russo One", sans-serif;
     display: block;
     font-size: 18px;
     margin-bottom: 8px;
 }
 .form-group input, .form-group textarea {
   font-family: "Russo One", sans-serif;
     width: 100%;
     padding: 12px;
     background-color: #fff;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
     box-sizing: border-box;
 }
 .form-group input[type="file"] {
   font-family: "Russo One", sans-serif;
     margin-top: 10px;
 }
 .form-group input[type="submit"] {
   font-family: "Russo One", sans-serif;
     background-color: #fff;
     color: #4CAF50;
     border: none;
     cursor: pointer;
     padding: 12px 20px;
     font-size: 18px;
     border-radius: 5px;
     transition: background-color 0.3s ease, color 0.3s ease;
 }
 .form-group input[type="submit"]:hover {
   font-family: "Russo One", sans-serif;
     background-color: #4CAF50;
     color: #fff;
 }
 .form-group .file-upload-label {
   font-family: "Russo One", sans-serif;
     display: block;
     margin-top: 10px;
     color: #4CAF50;
 }








 .aside{

             background:#7b9f20;
         }




.nav_pers li{
    margin-bottom: 20px !important;
    overflow: hidden;
}


.standart_border_radius{
  border-radius: 10px;
}



.buttons_for_bottom_header_mobile{
  display: none;
}
#side_bar_mobile{
  display: block;
}
#block_right_place_for_button{
  display: block;
}
 @media (max-width: 540px) {
            .block_training{
              width: 110%;
            }
            .buttons_for_bottom_header{
              display: none;
            }
            #block_right_place_for_button{
              display: none;
            }
            .buttons_for_bottom_header_mobile{
              display: block;
            }
            .adaptive_margin_bottom{
              margin-bottom: 50px;
            }
            ul.hr {
                /* Обнуляем значение отступов и полей */
                margin: 0;
                padding: 0;
            }

                ul.hr li {
                    display: inline-block !important; /* Строчно-блочный элемент */
                    border: 1px solid #000; /* Рамка вокруг текста */
                    padding: 3px; /* Поля вокруг текста */
                }
                #nav{
                  width: 100%;

                }
                #nav li{
                  margin:0px !important;
                  overflow: hidden;
                }

                #text1{
                  line-height: 0.6;
                  top:34px;
                }
                .nav-link{
                  line-height: 1;
                }
        }
