
{{define "add_new_product_in_store"}}

{{template "header" .}}

    <div class="row">
      <div class="col-12">
        <h1> Форма добавления товара </h1>
      </div>


    <h2>Форма товара</h2>
    <form action="" method="post" enctype="multipart/form-data">
      <div class="col-12 adaptive_margin_bottom">
        <label for="name">Название товара:</label>
        <input type="text" id="name" name="name" value="{{(index .Products 0).Name}}" required>
      </div>
<!--
      <div class="col-12 adaptive_margin_bottom">
        <label for="weight">Вес товара (кг):</label>
        <input type="number" id="weight" name="weight" step="0.01" value="{{(index .Products 0).Weight}}" required>
      </div>
-->
      <div class="col-12 adaptive_margin_bottom">
        <label for="brand">Бренд:</label>
        <input type="text" id="brand" name="brand" value="{{(index .Products 0).Brand}}" required>
      </div>

      <div class="col-12 adaptive_margin_bottom">
        <label for="price">Цена:</label>
        <input type="text" id="price" name="price" value="{{(index .Products 0).Price}}" required>
      </div>

      <div class="col-12 adaptive_margin_bottom">
        <label for="quantity">Количество в наличии:</label>
        <input type="text" id="quantity" name="quantity" value="{{(index .Products 0).Quantity_in_store}}" required>
      </div>


      {{if ne (index .Products 0).Id ""}}
        <div class="col-12 adaptive_margin_bottom">
          <input type="text" id="id" name="id" value="{{(index .Products 0).Id}}" hidden required>
        </div>
      {{end}}


      <div class="col-12 adaptive_margin_bottom">
        <label for="icon_product">Картинка товара:</label>
        <input type="file" id="icon_product" name="icon_product" accept="image/*" required>
      </div>


      {{if (index .Products 0).Id }}
        <label for="dropdown2">Характеристику для добавления:</label>
        <select id="dropdown2" name="dropdown2" class="standart_border_radius adaptive_margin_bottom" style="width:100%;">
            <option value="">Ничего</option>
            {{range .Features}}
              <option value="{{.Id}}">{{.Name}}</option>
            {{end}}
        </select>

        <div class="col-12 adaptive_margin_bottom">
          <label for="id">Укажите значение для добавленной характеристики:</label>
          <input type="text" id="value_of_feature" name="value_of_feature" value=""required>
        </div>

      {{end}}

      <div class="col-12 adaptive_margin_bottom">
        <button type="submit">Отправить</button>
      </div>
    </form>

  </div>


{{template "footer"}}
{{end}}
