
{{define "create_train_programm"}}
    {{template "header" .}}



        <h1 class="cover-heading">Тренaровка</h1>

        <form action="/processing_create_train_programm_step_1" method="post" enctype="multipart/form-data">



            <div class="form-group">
                <label for="name_of_train_programm">Название программы тренировок</label>
                <input type="text" id="name_of_train_programm" style="margin-bottom: 20px;" name="name_of_train_programm" required>
                <label for="Description">Описание программы до 150 символов</label>
                <input type="text" id="Description" name="Description" required>
            </div>



            <select id="dropdown" name="option_of_style_training" >

                    <option value="Bodybuilding">Bodybuilding</option>
                    <option value="Powerlifting">Powerlifting</option>
                    <option value="Crossfit">Crossfit</option>

            </select>


            <div class="form-group">
                <input type="submit" value="Отправить">
            </div>


        </form>


    {{template "footer"}}
{{end}}
