
{{define "index"}}

{{template "header" .}}

    <div class="row">
      <div class="col-12">
        <h1> ГЛАВНАЯ </h1>
      </div>
<!-- 49E4D81D2F5CB7DCD4D7D4010A54546B -->

      <div class="col-12 img_center_on_main" style="height:500px;">

        <img class="img_border" src="/static/img/main.png" alt="альтернативный текст">

      </div>

      <div class="col-12" style="height:100px;">
      </div>


      <div class="col-12">
         Список обновлений:
      </div>

      <div class="col-2">
         16.08.2024
      </div>
      <div class="col-10">
        <div class="row">

          <ul>
            <li>Переработан frontend</li>
            <li>Добавлен мини профиль справа сверху при входе в аккаунт</li>
          </ul>

        </div>
      </div>

      <div class="col-2">
         15.08.2024
      </div>
      <div class="col-10">
        <div class="row">

          <ul>
            <li>Сайт полностью переведен на русский язык</li>
            <li>Добавлена сводка тренировочных активностей человека</li>
            <li>Добавлен стилизованный шрифт</li>
          </ul>

        </div>
      </div>



    </div>

{{template "footer"}}
{{end}}
