
{{define "index"}}

{{template "header" .}}

    <div class="row">
      <div class="col-12">
        <h1> ГЛАВНАЯ </h1>
      </div>



      <div class="col-12" style="height:500px;">
      </div>


      <div class="col-12">
         Список обновлений:
      </div>

      <div class="col-2">
         15.08.2024
      </div>
      <div class="col-10">
        <div class="row">

          <ul>
            <li>Сайт полностью переведен на русский язык</li>
            <li>Добавлена сводка тренировочных активностей человека</li>
            <li>Добавлен стилизованный шрифт</li>
          </ul>

        </div>
      </div>



    </div>

{{template "footer"}}
{{end}}
