
{{define "index"}}

{{template "header" .}}

    <div class="row">
      <div class="col-12">
        <h1> ГЛАВНАЯ </h1>
      </div>
    </div>
<!-- 49E4D81D2F5CB7DCD4D7D4010A54546B -->
  <div class="row adaptive_margin_bottom">
      <div class="col-12 img_center_on_main" >

        <img class="img_border" style="width:100%; height:auto;"src="/static/img/main.png" alt="альтернативный текст">

      </div>
  </div>
  <div class="adaptive_margin_bottom row" >
      <div class="col-12" >
        <div style="height:auto;">
          Высшая школа массы набора - это специализированная соц сеть для спортсменов занимающихся пауэрлифтингом, бодибилдингом, боксом , единоборствами и прочими дисциплинами требующих отслеживать свой прогресс. В данной соц сети вы сможете следить за прогрессом своего gymbro и отслеживать свой прогресс тренировок. Если Вы креатор, есть возможность создавать свои тренировки и делиться ими с подписчиками. В данный момент Высшая школа массы набора находиться в актинвой фазе разработки, многое тестируется и добавляется, при использовании просьба брать это во внимание.

        </div>
      </div>
  </div>
  <div class="adaptive_margin_bottom row" >
      <div class="col-12" >
        <div style="height:auto;">
          *Данные личных аккаутов могут не сохраняться
        </div>
      </div>
  </div>
      <!--
      <div class="col-12" style="height:100px;">
      </div>
      <div class = "block_for_text standart_border_radius">
            <a class="nav-link" href="/exit" >Выйти из личного аккаунта</a>
      </div>
      -->
      <div class="row">
        <div class="col-12">
           Список обновлений:
        </div>
      </div>



      <div class="row adaptive_margin_bottom">
        <div class="col-md-2 col-xs-3">
           19.09.2024
        </div>

        <div class="col-10">
          <div class="row">

            <ul>
              <li>У креаторов появилась возможность при создании тренировочного подхода, указывать вес в процентах от максимального веса в упражнении. Креатор должен написать цифру от 1 до 100, и именно столько процентов в кг будет отображаться у любого человека от его максимального веса в конкретном упражнении.</li>
            </ul>

          </div>
        </div>
      </div>


      <div class="row adaptive_margin_bottom">
        <div class="col-md-2 col-xs-3">
           17.09.2024
        </div>

        <div class="col-10">
          <div class="row">

            <ul>
              <li>Оптимизирован дизайн side bars для мобильных устройств</li>
            </ul>

          </div>
        </div>
      </div>


      <div class="row adaptive_margin_bottom">
        <div class="col-md-2 col-xs-3">
           15.09.2024
        </div>

        <div class="col-10">
          <div class="row">

            <ul>
              <li>Удалены персональные видеоролики. Заменены на общие сезонные видео</li>
              <li>Теперь в тренировочной свобке, сделанные упражнения отображаются в хронологическом порядке по убыванию даты</li>
            </ul>

          </div>
        </div>
      </div>


      <div class="row adaptive_margin_bottom">
        <div class="col-md-2 col-xs-3">
           14.09.2024
        </div>

        <div class="col-10">
          <div class="row">

            <ul>
              <li>Теперь после выполнения упражнения в любом из режимов, в режиме добавить сделанное упражнение по умолчанию будет выбрано упражнение которое Вы сделали последним</li>

            </ul>

          </div>
        </div>
      </div>

      <div class="row adaptive_margin_bottom">
        <div class="col-md-2 col-xs-3">
           22.08.2024
        </div>

        <div class="col-10">
          <div class="row">

            <ul>
              <li>Добавлен favicon</li>
              <li>Исправлены недочеты frontend</li>
            </ul>

          </div>
        </div>
      </div>



      <div class="row adaptive_margin_bottom">
        <div class="col-md-2 col-xs-3">
           21.08.2024
        </div>

        <div class="col-10">
          <div class="row">

            <ul>
              <li>Сайт практически полность адаптирован под мобильные устройства</li>
            </ul>

          </div>
        </div>
      </div>

      <div class="row adaptive_margin_bottom">
        <div class="col-md-2 col-xs-3">
           19.08.2024
        </div>

        <div class="col-10">
          <div class="row">

            <ul>
              <li>Добавлены все антропометрические параметры</li>
              <li>Добавлена возможность вносить\изменять свои антропометрические параметры</li>
              <li>Добавлена возможность просмотра антропометрических параметров</li>
              <li>Теперь после добавления достижений и добавлении сделанного упражнения, страница не переключается на главную, а остается на которой и была</li>
            </ul>

          </div>
        </div>
      </div>

      <div class="row adaptive_margin_bottom">
        <div class="col-md-2 col-xs-3">
           18.08.2024
        </div>
        <div class="col-10">
          <div class="row">

            <ul>
              <li>Теперь после обновлений и перезагрузок сайта данные пользователей, в тч личные кабинеты\прогресс нагрузок и тд, сохраняются (Но это не гарантируется до конца альфа теста)</li>
              <li>Доработки frontend</li>
              <li>Возвращена возможность создавать личные аккаунты</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="row adaptive_margin_bottom">
        <div class="col-md-2 col-xs-3">
           17.08.2024
        </div>
        <div class="col-10">
          <div class="row">

            <ul>
              <li>Добавлены первые антропометрические параметры ( рост вес ). Пока без возможности изменений</li>
              <li>Доработки frontend</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="row adaptive_margin_bottom">
        <div class="col-md-2 col-xs-3">
           16.08.2024
        </div>
        <div class="col-10">
          <div class="row">

            <ul>
              <li>Переработан frontend</li>
              <li>Добавлен мини профиль справа сверху при входе в аккаунт</li>
              <li>Временно отключена возможность создавать личные аккаунты</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="row adaptive_margin_bottom">
        <div class="col-md-2 col-xs-3">
           15.08.2024
        </div>
        <div class="col-10">
          <div class="row">

            <ul>
              <li>Сайт полностью переведен на русский язык</li>
              <li>Добавлена сводка тренировочных активностей человека</li>
              <li>Добавлен стилизованный шрифт</li>
            </ul>

          </div>
        </div>



    </div>

{{template "footer"}}
{{end}}
