
  {{define "personal_page"}}
{{template "header" .}}





  <div class="block_for_aside">
    <div class="row">
            <div class="col-12 padd-0">
                    <video class="standart_border_radius backgroundvideo"  autoplay loop muted>
                      <source  src="{{.Background_video}}" type="video/mp4">

                      Ваш браузер не поддерживает тег видео.
                    </video>
            </div>

            <div class="col-1 padd-0">

            </div>
              <div class="col-2 padd-0 ">
                  <p><img class="standart_border_radius" style="position:relative; top:-50px;width:200px;height:200px;" src="{{.Icon1}}" alt="Image!!" ></p>
              </div>

              <div class="col">
                <div class = "row">
                  <div class = "col-7">
                    <h1  id="textForName">{{.Persona.Name}} {{.Persona.Surname}} </h1>
                  </div>
                  <div class = "col-7">
                    <h4 id="textForName"> Рост: {{.Anthropometry.Height}}  </h4>
                  </div>
                  <div class = "col-7">
                    <h4 id="textForName">Вес: {{.Anthropometry.Weight}} </h4>
                  </div>
                </div>

              </div>







            <div class="col-12 padd-0">
              <div id="mid_text">
                  <h2> Силовые </h2>
              </div>
            </div>
            <div class="col-12 padd-0">
              <ul>
                <div class="row">
                    {{range $key, $value := .Sport_achive}}

                            <li> <div class="col-7"> <h5>{{$key}}: {{$value}}</h5> </div></li>


                    {{end}}
                </div>
              </ul>
            </div>


  {{ if .Persona.Is_that_authorized_user }}
  <div class="col-9 order-1 padd-0">
            <h1 class="cover-heading">Форма добавления достижений</h1>
            <form action="/submit_achive" method="post">
                <label for="dropdown">Выберите упражнение:</label>
                <select id="dropdown" name="options">
                  {{ range $key, $value := .Unique_types_of_exercises }}
                    <option value="{{$key}}">{{$value}}</option>
                  {{ end }}


                </select>

                <br><br>

                <label for="dropdown2">Выберите по какому результатау отображать:</label>
                <select id="dropdown2" name="options2">
                    <option value="absolute_power">Самый большой вес</option>
                    <option value="most_repetitions">Наибольшее кол-во повторений (Требует доработки)</option>
                    <option value="most_distence">Дистанция (Требует доработки)</option>
                </select>

                <br><br>

                <input type="submit" value="Отправить">
          </form>
          </div>
  {{else}}

          {{end}}

          </div>
      </div>
</div>






    <div class = "col-3" >
        <div class="row standart_border_radius block_right_place_for_button ">
          <div class="col-12">
            <div class="row">


                <div class="col-12 block_for_right_aside">

                    <div class = "block_for_text standart_border_radius">
                            <a class="nav-link" href="/personal_statistic/{{.Persona.Id}}"  >Статистика</a>

                  </div>
                </div>
                <div class="col-12 block_for_right_aside">

                    <div class = "block_for_text standart_border_radius">
                            <a class="nav-link" href="/view_created_training_programms/{{.Persona.Id}}"  >Программы тренировок</a>

                  </div>
                </div>

                <div class="col-12 block_for_right_aside">

                    <div class = "block_for_text standart_border_radius">
                            <a class="nav-link" href="/training_summary/{{.Persona.Id}}"  >Тренировочная сводка</a>
                    </div>

                </div>
                {{ if .Persona.Is_that_authorized_user }}
                  <div class="col-12 block_for_right_aside">
                          <div class = "block_for_text standart_border_radius">
                              <a class="nav-link" href="/create_train" >Добавить сделанное упражнение</a>
                          </div>
                  </div>
                  <div class="col-12 block_for_right_aside">

                      <div class = "block_for_text standart_border_radius">
                            <a class="nav-link" href="/exit" >Выйти из личного аккаунта</a>
                      </div>

                  </div>
                {{end}}




            </div>
        </div>
      </div>
    </div>
{{template "footer"}}
 {{end}}
