
  {{define "personal_page"}}
{{template "header"}}




<div class="block_for_aside">

                <div class="container">
                  <video class="backgroundvideo"  autoplay loop muted>
                    <source src="\{{.Background_video}}" type="video/mp4">

                    Ваш браузер не поддерживает тег видео.
                  </video>




          <p><img id="icon1" src="\{{.Icon_photo}}" alt="Image!!" style="width:200px;height:200px;"><h1  id="textForName">{{.Persona.Name}} {{.Persona.Surname}} </h1> </p>

          <div id="mid_text">
              Силовые
          </div>
          <div>
            {{range $key, $value := .Achive_count_and_name}}
              <li>{{$key}}: {{$value}}</li>
            {{end}}
          </div>
{{.Is_that_authorized_user}}
{{ if .Is_that_authorized_user }}
          <h1 class="cover-heading">Форма добавления достижений</h1>
          <form action="/submit_achive" method="post">
              <label for="dropdown">Выберите упражнение:</label>
              <select id="dropdown" name="options">
                {{range .Unique_types_of_exercises_m}}
                      <option value="{{.}}">{{.}}</option>
                {{end}}

              </select>

              <br><br>

              <label for="dropdown2">Выберите по какому результатау отображать:</label>
              <select id="dropdown2" name="options2">
                  <option value="absolute_power">Самый большой вес</option>
                  <option value="most_repetitions">Наибольшее кол-во повторений</option>
                  <option value="most_distence">Дистанция</option>
              </select>

              <br><br>

              <input type="submit" value="Отправить">
        </form>
        {{else}}
         bfjeefn
        {{end}}
<br><br><br>

        </div>




</div>

{{ if .Is_that_authorized_user }}
<div class="block_for_right_aside">
  <div class = "block_for_text">
          <a class="nav-link" href="/create_train" >Добавить сделанное упражнение</a>
  </div>
  </div>
{{end}}
{{template "footer"}}
{{end}}
