
{{define "store_main"}}

{{template "header" .}}

    <div class="row">
      <div class="col-12">
        <h1> Магазин </h1>
      </div>
    </div>
    {{if .Authorized_user_data.Is_it_admin}}
      <a href="/add_new_product_in_store" class="clickable">
        <div style="width: 150px; height: 200px; background-color:red">
          +
        </div>
      </a>
    {{end}}
<div class="row">
    {{ range .Products }}
    <div class="col-3 adaptive_margin_bottom ">
      <div class="product_block standart_border_radius">
        <div class="row">
          <div class="col-12">
            {{.Id}}
          </div>
          <div class="col-12 img_center_on_main">
            <img class="standart_border_radius" style="width:200px; height:200px;" src="{{.Icon_product}}" alt="Image!!" >
          </div>

          <div class="col-12 center_text_in_div">
            {{.Name}}
          </div>
          <div class="col-6 ">
            {{.Brand}}
          </div>
          <div class="col-6 ">
            {{.Weight}}
          </div>
          <div class="col-12">
            {{if .In_cart}}
              В корзине
            {{else}}
            <a href="/add_to_cart/{{.Id}}" class="clickable">
              <div class ="standart_border_radius center_text_in_div" style="background-color:green; weight:90%; height:flex;">
                В корзину
              </div>
            </a>
            {{end}}
          </div>
        </div>
      </div>
    </div>
    {{ end }}
</div>
{{template "footer"}}
{{end}}
