
{{define "view_created_training_programms"}}

{{template "header" .}}

    <div class="row">
      <div class="col-8">
        <h1> Программы тренировок {{.Author.Nickname}}</h1>
      </div>



      <div class="col-4">
          <div class = "block_for_text center_text_for_div" style="margin-bottom: 30px; height:80px; width:250px; display: flex; align-items: center;">
                  <a  href="/create_train_programm_step_1">Создать программу тренировок </a>
          </div>
      </div>

        {{range .Training_programms}}
          <div class="col-12">
            <div class="block_for_training_programm standart_border_radius" onclick="window.location.href='/watch_training_programm/{{.Id}}';" style="cursor: pointer;" >
              <div class="row">
                <div class="col-12 center_text_for_div">
                  {{.Name_of_programma}}
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="row">

                      <div class="col-12">
                        {{.Style_of_trainings}}
                      </div>
                      <div class="col-5">
                        <p><img src="{{$.Authors_Icon1}}" alt="Image!!" style="width:50px;height:50px;"> {{$.Author.Name}} {{$.Author.Surname}}</p>
                      </div>

                    </div>
                  </div>
                  <div class="col-5">
                    <div class="row">
                      <div class="col-12">
                        <p>{{.Description}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">

                        {{if $.Is_this_Author}}
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="30"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
                        {{end}}
                        </div>
                    </div>
                </div>






              </div>
            </div>
          </div>
        {{end}}

    </div>

{{template "footer"}}
{{end}}
