
{{define "watch_training_programm"}}
{{template "header"}}






    <div class="row">

            <div class="col-12 padd-0">
              <p> {{.Id_train_programm}}<p>
          </div>

          <div class="col-12 padd-0">
            <p> Сегодня {{.Current_data}} и это отличный день чтобы порвать себе трицепс!<p>
          </div>
          {{range $time, $event := .Parts_training_programm}}
          {{$time}}

          {{range $event}}
          <div class="col-12 padd-0 ">
            <div class="row block_training" style="height:auto; width:600px;">
                <div class="col-8 padd-0 ">
                    <p> {{.Queue}})  {{.Type_of_train_translated}}</p>
                    <p>Отдых после подхода: {{.Time_to_chill}}</p>
                    <p> Вес: {{.Weight}} </p>
                    <p> Кол-во: {{.Count}}</p>

                </div>
                <div class="col-4 padd-0">

                  {{if not .Have_this_id_in_bd}}

                    <form id="form1" action="/watch_training_programm/{{.Id_train_programm}}" method="post">
                      <div class ="row">

                        <input type="hidden" name="hiddenFieldID" value="{{.Id_train}}">
                        <input type="hidden" name="hiddenFieldOption" value="{{.Type_of_train}}">

                        <div class="col-8">
                          <label for="count">Количество повторений:</label>
                        </div>

                        <div class="col-4">
                          <input type="number" id="count" name="count" min="1" required style="width:50px;">
                        </div>

                        <div class="col-8">
                          <label for="weight">Вес (в кг):</label>
                        </div>

                        <div class="col-4">
                          <input type="number" id="weight" name="weight" min="0" step="0.1" required style="width:50px;">
                        </div>


                        <div class="col-12">

                        </div>


                        <div class="col-12">
                          <button type="submit">Отправить</button>
                        </div>
                      </div>
                    </form>

                    {{else}}
                      <p> Выполненно </p>
                      <p> {{.WeightDone}} кг </p>
                      <p> {{.CountDone}}  повторений</p>
                    {{end}}
                </div>
            </div>
          </div>
          {{ end }}
          {{ end }}




          <div class="col-12 padd-0">
            <button id="showDivButton">Показать блок</button>
          </div>

          <div class="col-12 padd-0">
            <div id="myDiv" class="block_training" style="display: none; margin-top: 10px; height:100%;" >
              <h1 class="cover-heading">Тренaровка23</h1>
              <form id="form2" action="/create_train_set_exercises/{{.Id_train_programm}}" method="post">
                  <select id="dropdown" name="option_of_train">
                    {{ range $key, $value := .Unique_types_of_exercises }}
                      <option value="{{$key}}">{{$value}}</option>
                    {{ end }}
                  </select>


                  <div class="form-group">
                      <label for="weight">Укажите ссылку на любой видеохостинг с примером выполнения упражнения (Требуется доработка)</label>
                      <input type="text" id="video_link" name="video_link" required>
                  </div>



                  <div class="form-group">
                      <label for="date">Укажите дату</label>
                      <input type="date" id="date" name="date" required>
                  </div>
                  <div class="form-group">
                      <label for="weight">Укажите вес</label>
                      <input type="text" id="weight" name="weight" required>
                  </div>
                  <div class="form-group">
                      <label for="count">Укажите количество повторений</label>
                      <input type="text" id="count" name="count" required>
                  </div>
                  <div class="form-group">
                      <label for="queue">Укажите очередь выполнения</label>
                      <input type="text" id="queue" name="queue" required>
                  </div>
                  <div class="form-group">
                      <label for="time_to_chill_before_next">Время отдыха перед следующим подходом</label>
                      <input type="text" id="time_to_chill_before_next" name="time_to_chill_before_next" required>
                  </div>
                  <div class="form-group">
                      <button type="submit">Отправить</button>
                  </div>
              </form>


            </div>
          </div>



    </div>
    <script>
      document.getElementById("showDivButton").onclick = function() {
        document.getElementById("myDiv").style.display = "block";
      };
    </script>

{{template "footer"}}
 {{end}}
